
.musicabarra {

    border-radius: 5px;
    overflow: hidden;

}


#nomemusica, #cantormusica {

    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 8s linear infinite;
    -webkit-animation: my-animation 8s linear infinite;
    animation: my-animation 8s linear infinite;

    width: 250px;
}



/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(65%); }
    to { -webkit-transform: translateX(-20%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(65%);
      -webkit-transform: translateX(65%);
      transform: translateX(65%);
    }
    to {
      -moz-transform: translateX(-20%);
      -webkit-transform: translateX(-20%);
      transform: translateX(-20%);
    }
}